* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark: #264653;
    --primary2nd: #58a7af;
    --background: #ccc;
}

/* Colours */

test {
    color: #264653;
    color: #2a9d8f;
    color: #e9c46a;
    color: #f4a261;
    color: #e76f51;
}

/* Body Content */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/* Header and Nav */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 1;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--dark);
    padding: 10px;
    width: 100%;
    border-bottom: 5px solid var(--primary2nd);
}

header h1 {
    font-size: 3vmin;
    margin: 0 0 0 30px;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
}

header a {
    flex-grow: 1;
    align-items: center;
    padding: 10px 10px 10px 10px;
    gap: 1rem;
    font-size: 24px;
    text-decoration: none;
    margin: 2px;
    color: #000000;
    border-bottom: 5px solid var(--primary2nd);

    
}

header a:hover {
    background-color: var(--primary2nd);
}

/* Hero */

.hero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    order: 2;
    border-bottom: 5px solid var(--primary2nd);
}

/* Main*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black
}

/* About Me*/

.aboutme {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
}

.aboutme h2 {
    padding: 3%;
    border-right: 5px solid var(--primary2nd);
    text-align: right;
    display: block;
    flex: 0 0 20%;
}

.aboutme p {
    padding: 1%;
}

/* Projects */

.projects {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    width: 100%;
}

.projects h2 {
    padding: 3%;
    border-right: 5px solid var(--primary2nd);
    text-align: right;
    display: block;
    flex: 0 0 20%;
}

.projects p {
    padding: 1%;
}

/* Project Cards */

.cards {
    display: flex;
    flex-flow: row wrap;
}

.cards img {
    align-self: center;
    flex: 1 0 0;
    width: 40%;
    border: 2px solid black;
    margin: 3%;
}

.cards img:first-child{
    flex-grow: 1 0 0;
}

/* Footer */

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #3a3a59;
    color: #ccc;
}

/* Media Queries */

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;

    }

    header h1 {
        margin: 0;

    }

    main {
        flex-direction: column;
    }

    /* About me */

    .aboutme {
        flex-flow: column nowrap;
    }

    .aboutme h2 {
        text-align: center;
        padding: 3%;
        border-bottom: 5px solid var(--primary2nd);
        border-right: 0px;
    }

    /* Projects */

    .projects {
        flex-flow: column nowrap;
    }

    .projects h2 {
        text-align: center;
        padding: 3%;
        border-bottom: 5px solid var(--primary2nd);
        border-right: 0px;
    }
}

@media screen and (max-width:772) {
    header h1 {
        display: none;
    }
    
}