* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
}

:root {
    --dark: #264653;
    --primary2nd: #58a7af;
    --light: #f1f1f1;
    --background: linear-gradient(90deg, rgba(38,70,83,1) 0%, rgb(136, 170, 166) 50%, rgba(38,70,83,1) 100%);
    --blur: blur(5px);
    --headerfont: 'Monsterrat', sans-serif;
    --sectionmargin: 0 1.5rem 1.5rem 1.5rem;
}


/* Colours */

test {
    color: #264653;
    color: #2a9d8f;
    color: #e9c46a;
    color: #f4a261;
    color: #e76f51;
}

/* Body Content */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--background);
    color: #fff;
}

h1, h2, h3, h4, h5 {
    font-family: var(--headerfont);
    text-transform: uppercase;
}

/* Header and Nav */

header {
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--dark);
    width: 100%;
    padding: 1ch 7vw;
    border-bottom: 5px solid var(--primary2nd);
}

nav {
    display: flex;
}

/* Header left */

header h1 a{
    color: var(--primary2nd);
    font-size: 2.5em;
    padding: 5px 0 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--headerfont);
    border: 3px solid var(--primary2nd)
}

header h1 a::after {
    font-family: 'Monsterrat', sans-serif;
    color: var(--dark);
    background-color: var(--primary2nd);
    padding: 5px;
    margin-left: 5px;
    box-shadow: inset 0 0 0 0 var(--dark);
    content: 'Stockwell';
    transition: color 2s ease;
    transition: box-shadow .3s ease-in-out
}

header h1 a:hover::after {
    color: var(--primary2nd);
    box-shadow: inset 350px 0 0 0 var(--dark);
}

/* Header Right */

header nav a {
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5em;
    text-decoration: none;
    margin: 10px;
    color: var(--primary2nd);
    box-shadow: inset 0 0 0 0 var(--primary2nd);
    border-bottom: 5px solid var(--primary2nd);
    transition: color .5 ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

header nav a:hover {
    box-shadow: inset 0 -100px 0 0 var(--primary2nd);
    color: var(--dark)
}


/* Hero */

.hero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    max-height: 450px;
    width: 100%;
    top: 0;
    object-fit: cover;
    object-position: center;
    order: 2;
    border-bottom: 5px solid var(--primary2nd);
}

/* Main */

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 90vw;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

/* Sections */

.aboutme h3,
.projects h3,
.contactme h3 {
    padding: 0 1rem;
    font-size: clamp(1em, 1.5vw, 3em);
    border-right: 5px solid var(--primary2nd);
    text-align: right;
    flex: 1 0 20%;
    max-width: 20%;
}

.aboutme,
.projects,
.contactme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

/* About Me*/

.aboutme {
    align-items: stretch;
}

.aboutme article {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
}

.aboutme h4 {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--primary2nd);
}

.aboutme article {
    padding: 1rem;
}

.portrait {
    min-width: 0;
    flex: 1 0 30%;
    object-fit: contain;
    margin: var(--sectionmargin);
}


/* My Project Cards */

.cards {
    display: grid;
    margin: var(--sectionmargin);
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

figure {
    display: flex;
    position: relative;
    border: 3px solid var(--primary2nd);
    box-shadow: 1ch 1ch var(--dark);
    text-align: center;
}

.cards img {
    max-width: 100%;
    filter: grayscale(.5);
    aspect-ratio: 16 / 9;
    transition: all .3s ease-in-out;
    object-fit: cover;
    object-position: top;
}

/* Top Image */

.span-2 {
    grid-column: span 2;
}

/* Overlay Affect */

.overlay-first {
    opacity: 0;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 1.75rem;
    min-width: 0;
    font-size: 1.75rem;
    text-decoration: none;
    transition: filter .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    color: var(--primary2nd);
    padding: 1ch;
    box-shadow: inset 0 0 0 0 var(--dark);
    text-decoration: none;
}

.overlay {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 0;
    font-size: 1.25rem;
    text-decoration: none;
    transition: filter .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    color: var(--primary2nd);
    padding: 1ch;
    box-shadow: inset 0 0 0 0 var(--dark);
    text-decoration: none;
}

/* Project Overlay Selectors */

figure:hover img,
figure:active img {
    filter: grayscale(1) blur(3px);
}

figure:hover .overlay, 
figure:hover .overlay-first {
    opacity: 1;
    box-shadow: inset 500px 0 0 0 var(--dark);
}

/* Contact Me */

.contactme {
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.contactme h4 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.socials-icons h4::before,
.socials-icons h4::after {
    content: '\2022';
    padding: 0 1ch 0 1ch;
}

.contactme article {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: var(--sectionmargin);
    min-width: 1fr;
}

/* Socials img list */

.socials-icons {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 1.5rem 0;
    width: 100%;
}

.contact-icons a {
    text-decoration: none;
    color: var(--light);
}

.contact-icons li {
    flex: 1;
    list-style: none;
    align-items: center;
    max-width: 100px;
    transition: all .2s ease-in-out;
}

.contact-icons li a img {
    width: 100%;
}

/* Social Selectors */

.contact-icons li:hover {
    transform: scale(1.2);
}

/* Footer */

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--dark);
    color: var(--light);
}

/* Media Queries */

@media screen and (max-width: 1092px) {
    header {
        flex-flow: column nowrap;
    }

    header h1 {
        margin: 0;
    }

    main {
        flex-direction: column;
    }

    /* Content */

    .aboutme,
    .projects,
    .contactme {
        flex-flow: column nowrap;
    }

    .aboutme h3,
    .projects h3,
    .contactme h3 {
        text-align: center;
        padding: 1rem;
        border-bottom: 5px solid var(--primary2nd);
        border-right: 0px;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    /* Projects */

    .cards {
        display: flex;
        flex-flow: column nowrap;
    }

    .overlay-first,
    .overlay {
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: unset;
        transform: translate(-50%, -50%);
        min-width: 0;
        flex: 1 1 auto;
        font-size: 1.25rem;
        text-decoration: none;
        transition: filter .3s ease-in-out;
        transition: box-shadow .3s ease-in-out;
        color: var(--primary2nd);
        padding: 1ch;
        box-shadow: inset 500px 0 0 0 var(--dark);
        text-decoration: none;  
    }

    .email form {
        display: flex;
    }

}
@media screen and (max-width:510px) {
    header h1 {
        display: none;
    }
    
}