* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
}

:root {
    --dark: #264653;
    --primary2nd: #58a7af;
    --background: #ccc;
    --blur: blur(5px);
    --headerfont: 'Monsterrat', sans-serif;
}


/* Colours */

test {
    color: #264653;
    color: #2a9d8f;
    color: #e9c46a;
    color: #f4a261;
    color: #e76f51;
}

/* Body Content */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/* Header and Nav */

header {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--dark);
    width: 100%;
    padding: 1ch 10vw 1ch 10vw;
    border-bottom: 5px solid var(--primary2nd);
}

header h1 a{
    color: var(--primary2nd);
    font-size: 2.5rem;
    padding: 5px 0 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--headerfont);
    border: 3px solid var(--primary2nd)
}

header h1 a::after {
    font-family: 'Monsterrat', sans-serif;
    color: var(--dark);
    background-color: var(--primary2nd);
    padding: 5px;
    margin-left: 5px;
    box-shadow: inset 0 0 0 0 var(--dark);
    content: 'Stockwell';
    transition: color 2s ease;
    transition: box-shadow .3s ease-in-out
}

header h1 a:hover::after {
    color: var(--primary2nd);
    box-shadow: inset 350px 0 0 0 var(--dark);
}

nav {
    display: flex;
    justify-content: center;
}

header nav a {
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 10px;
    color: var(--primary2nd);
    box-shadow: inset 0 0 0 0 var(--primary2nd);
    border-bottom: 5px solid var(--primary2nd);
    transition: color .5 ease-in-out;
    transition: box-shadow .3s ease-in-out;

    
}

header nav a:hover {
    box-shadow: inset 0 -100px 0 0 var(--primary2nd);
    color: var(--dark)
}

/* Hero */

.hero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    max-height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    order: 2;
    border-bottom: 5px solid var(--primary2nd);
}

/* Main*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: var(--headerfont);
    text-transform: uppercase;
    font-size: 2.5rem;
}

/* About Me*/

.aboutme {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.aboutme h2 {
    padding: 1rem;
    border-right: 5px solid var(--primary2nd);
    text-align: right;
    flex: 1 0 30%;
    max-width: 30%;
}

.aboutme p {
    padding: 1rem;
}

/* Projects */

.projects {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.projects h2 {
    padding: 1rem;
    border-right: 5px solid var(--primary2nd);
    text-align: right;
    flex: 1 0 30%;
    max-width: 30%;
}
/* Projects Cards */

.cards {
    display: grid;
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

figure {
    border: 3px solid var(--primary2nd);
    box-shadow: 1ch 1ch var(--dark);
}

/* Top Image Span */

.span-2 {
    grid-column: span 2;
}


.cards img {
    max-width: 100%;
    filter: grayscale(.5);
    aspect-ratio: 16 / 9;
    transition: all .4s ease-in-out;
}

figure a{
    display: block;
}

.firstimg {
    width: 100%;
}

.cards img:hover {
    filter: grayscale(1) blur(3px);
}

/* Overlay Text */
/*
.overlay {
    position: absolute;
    display: flex;
    opacity: 0;
    width: 100%;
    margin: 3%;
    padding: 30px;
    color: var(--primary2nd);
    background-color: var(--dark);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--primary2nd);
    border-bottom: 5px solid var(--primary2nd);
    transition: color .5 ease-in-out;
    transition: box-shadow .3s ease-in-out;
    font-size: 2em;
    flex: 1 2 0;
}

.overlay:hover {
    display: flex;
    box-shadow: inset 0 -200px 0 0 var(--primary2nd);
    color: var(--dark);
}


/* Footer */

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #3a3a59;
    color: #ccc;
}

/* Media Queries */

@media screen and (max-width: 1092px) {
    header {
        flex-direction: column;

    }

    header h1 {
        margin: 0;

    }

    main {
        flex-direction: column;
    }

    /* About me */

    .aboutme {
        flex-flow: column nowrap;
    }

    .aboutme h2 {
        text-align: center;
        padding: 3%;
        border-bottom: 5px solid var(--primary2nd);
        border-right: 0px;
        max-width: 100%;
    }

    /* Projects */

    .projects {
        flex-flow: column nowrap;
    }

    .projects h2 {
        text-align: center;
        padding: 3%;
        border-bottom: 5px solid var(--primary2nd);
        border-right: 0px;
        max-width: 100%;
    }

    .cards {
        flex-flow: column nowrap;
    }
}

@media screen and (max-width:510px) {
    header h1 {
        display: none;
    }
    
}