* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Content */

body {
    flex-flow: row wrap;
    align-content: flex-start;
    margin: 0;
    padding: ;
    background-color: #71dbd4;
}

/* Colors */

    test {
        color: #ffd319;
        color: #ff901f;
        color: #ff2975;
        color: #f222ff;
        color: #8c1eff;
        color: #c724b1;
        color: #71dbd4;
        color: #b3b0c4;
        color: #58a7af;
        color: #3a3a59;
    }

/* Header and Nav */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #b269ff;
    padding: 10px;
    width: 100%;
    border-bottom: 5px solid #8c1eff;
}

header h1 {
    font-size: 40px;
    margin: 0 0 0 30px;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
}

header a {
    flex-grow: 1;
    align-items: center;
    padding: 10px 10px 10px 10px;
    gap: 1rem;
    font-size: 24px;
    text-decoration: none;
    margin: 2px;
    color: #000000;
    
}

header a:hover {
    background-color: #58a7af;
}

/* Hero */

.hero {
    margin-left: auto;
    margin-right: auto;
    max-height: 650px;
    width: 100%;
    max-width: 1800px;
    object-fit: cover;
    object-position: center;
    flex: 0 3 0;

}

/* Aside */

aside {
    position: flex;
    flex-flow: column nowrap;
    float: left;
    background-color: #b269ff;
}

.who {
    order: 1;
}

/* Main Content */

main {
    align-self: flex-start;
    display: flex;
    padding: 1% 0 0 0;
    flex-direction: column;
    position: relative;
}
/*
section, article {
    display: flex;
    width: 80%;
    justify-content: center;
    border: 2px solid black;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff901f;

}
*/
/* Footer */

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #3a3a59;
    color: #ccc;
}

/* Media Queries */

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;

    }
    header h1 {
        margin: 0;
        font-size: 1.5em;
    }
}

@media screen and (max-width:772) {
    header h1 {
        display: none;
    }
    
}