* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Colors */

    test {
        color: #ffd319;
        color: #ff901f;
        color: #ff2975;
        color: #f222ff;
        color: #8c1eff;
        color: #c724b1;
        color: #71dbd4;
        color: #b3b0c4;
        color: #58a7af;
        color: #3a3a59;
    }

/* Header and Nav */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #b269ff;
    padding: 10px;
    width: 100%;
    max-block-size: 100px;
    border-bottom: 5px solid #8c1eff;
}

header h1 {
    font-size: 40px;
    margin: 0 0 0 30px;
}

nav {
    display: inline-flex;
    padding: 0 30px 0 30px;
    justify-content: center;
}

header a {
    padding: 10px 10px 10px 10px;
    gap: 20px 30px;
    font-size: 24px;
    text-decoration: none;
    margin: 2px;
    color: #000000;
    
}

header a:hover {
    background-color: #58a7af;
}


/* Body Content */

body {
    display: block;
    margin: 0;
    background-color: #71dbd4;
}

/* Main Content */

main {
    display: block;
    position: relative;
    margin-top: 100px;
}

section {
    display: flex;
    width: 80%;
    justify-content: center;
    border: 2px solid black;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff901f;

}

/* Footer */

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #3a3a59;
}

/* Media Queries */

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;

    }
    
    header h1 {
        margin: 0;
        text-size-adjust: 0.8
    }

    nav {
        margin: 0;
        width: 100%;
    }

    header a {

    }
}